(?i)(社工库?|开盒|查名下|查轨|代实名|跑分|四件套|接码|博彩|棋牌|开户|彩票|资金盘|搞钱|高收益|无门槛|日赚|(色情|情色)大模型|榨精神器|禁忌性爱|反差母狗|催眠恶堕|绿帽人妻|换妻|口交杯|柔舌包裹|TG极速版|口令红包)
|(AI(女友|短剧|擦边|换脸|成人|拟真)|虚拟女友|解禁版|飞机杯|名器|倒模|榨汁|润滑|隐密发货|包裹感|机场|节点|专线|梯子|翻墙|4K秒开|IEPL|IPLC|流媒体解锁|未删减|完整版|黑料|吃瓜|看后续|内部群|福利群|看片|老司机|专属福利)
|(微|薇|威|围|扣|蔻|QQ|qq|微信|vx|vxn|加v|私聊|TG|tg)[\s\u200b\u200c:=：.-]*([a-zA-Z0-9_]{5,}|[qQ]{2}|\d{5,11}|@[a-zA-Z0-9_]{5,})
|((t\.me|telegram\.me|tcn\.vvip\.ink)\/[a-zA-Z0-9_\+\-]+)
