(?i)(社工库?|开盒|查名下|查轨|代实名|跑分|四件套|接码|博彩|棋牌|开户|彩票|资金盘|搞钱|高收益|无门槛|日赚|打字员|(色情|情色)?大模型|榨精神器|禁忌性爱|反差母狗|催眠恶堕|绿帽人妻|换妻|口交杯|柔舌包裹|TG极速版|口令红包)

(?i)(VPN|机场|节点|专线|兼职|代办|优惠券|搜索引擎|店铺|首充)\s*(推荐|优惠|最低|购买|跑路|关注|进群|频道|私聊|接单|拉群|折扣)


(?i)(加|联系|咨询|私|🇻|微|威|扣|QQ|qq)\s*[：:\-\._\*\s]*([vV微威信xX]|微信|扣扣|QQ|qq|\d{5,11})


(?i)(联系客服|私聊|老司机|交流驾驶经验|独家视频|线上娱乐|AI成人短剧|自用VPN|VIP群|专属福利)\s*(进群|看片|领福利|下单|咨询)?|(?i)(t\.me\/(joinchat|\+[a-zA-Z0-9_\-]{10,}|[a-zA-Z0-9_]{5,}(\s*(关注|进群|频道|私聊|解封|内部))?))



